<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns=""
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=""
         version="4.0">

  <listener>
    <listener-class>com.step.hryshkin.config.ContextInitializer</listener-class>
  </listener>

  <servlet>
    <servlet-name>h2-console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>h2-console</servlet-name>
    <url-pattern>/h2/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ShopFilter</filter-name>
    <filter-class>com.step.hryshkin.filters.ShopFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShopFilter</filter-name>
    <url-pattern>/order_page.jsp</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>BasketNullFilter</filter-name>
    <filter-class>com.step.hryshkin.filters.BasketNullFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BasketNullFilter</filter-name>
    <url-pattern>/basket_page.jsp</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>user_check_page.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>

  <display-name>Archetype Created Web Application</display-name>
</web-app>
